REDIS_HOST=localhost
REDIS_PORT=9010
AUTH_SERVICE_URL=http://localhost:9001
USER_SERVICE_URL=http://localhost:8082
COURSE_SERVICE_URL=http://localhost:9002
UPLOAD_SERVICE_URL=http://localhost:9006
AUTH_GRPC_HOST=localhost
AUTH_GRPC_PORT=9091
INTERNAL_TOKEN=dev-internal-secret-change-in-prod
