REDIS_HOST=localhost
REDIS_PORT=6380
AUTH_SERVICE_URL=http://localhost:8081
USER_SERVICE_URL=http://localhost:8082
COURSE_SERVICE_URL=http://localhost:8083
UPLOAD_SERVICE_URL=http://localhost:8087
AUTH_GRPC_HOST=localhost
AUTH_GRPC_PORT=9091
INTERNAL_TOKEN=dev-internal-secret-change-in-prod
