DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=platform
DB_PASSWORD=platform
REDIS_HOST=localhost
REDIS_PORT=6380
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5673
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
JWT_PRIVATE_KEY_PATH=classpath:keys/private.pem
JWT_PUBLIC_KEY_PATH=classpath:keys/public.pem
FRONTEND_URL=http://localhost:3000
